{% extends 'base.html.twig' %}

{% block header_title %}
	<h1 class="text-center py-3">Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos
		tâches sans effort !</h1>
{% endblock %}

{% block body %}
	<div class="row py-3">
		<div class="col-12 col-sm-4 col-md-4 my-2 my-sm-0">
			<a href="{{ path('task_new') }}" class="btn btn-outline-success w-100 h-100">
				<div class="text-center">
					<span class="fa fa-plus fa-2x"></span>
				</div>
				<div class="text-center text-uppercase">Créer une nouvelle tâche</div>
			</a>
		</div>
		<div class="col-12 col-sm-4 col-md-4 my-2 my-sm-0">
			<a href="{{ path('task_index', {'done': false}) }}" class="btn btn-outline-info w-100 h-100">
				<div class="text-center">
					<span class="fa fa-list fa-2x"></span>
				</div>
				<div class="text-center text-uppercase">Consulter les tâches a faire</div>
			</a>
		</div>
		<div class="col-12 col-sm-4 col-md-4 my-2 my-sm-0">
			<a href="{{ path('task_index', {'done': true}) }}" class="btn btn-outline-secondary w-100 h-100">
				<div class="text-center">
					<span class="fa fa-check fa-2x"></span>
				</div>
				<div class="text-center text-uppercase">Consulter les tâches terminées</div>
			</a>
		</div>
	</div>
	<hr>
	<h2 class="my-4">Vos dernières tâches a faire :</h2>
	<div class="row">
		{% for task in tasks %}
			<div class="col-12 col-sm-6 col-md-4 mb-4">
				{% include 'task/_miniature.html.twig' %}
			</div>
		{% else %}
			<div class="col-12 my-2">
				<div class="d-inline-block alert alert-warning" role="alert">
					Il n'y a pas encore de tâche enregistrée.
					<a href="{{ path('task_new') }}" class="btn btn-warning">Créer une tâche</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block scripts %}
	{{ encore_entry_script_tags('ajaxToggleTask') }}
{% endblock %}