{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {% if app.request.query.get('anonymous') is null %}
        <div class="col-12 col-sm-6 col-md-4 py-3">
            <a href="{{ path('admin_task_index', {'anonymous': true}) }}" class="btn btn-outline-danger w-100">
                <div class="text-center">
                    <span class="fa fa-question fa-2x"></span>
                </div>
                <div class="text-center text-uppercase">Voir les tâches anonymes</div>
            </a>
        </div>
        {% endif %}
        {% if app.request.query.get('done') is null or app.request.query.get('done') == 1 %}
            <div class="col-12 col-sm-6 col-md-4 py-3">
                <a href="{{ path('admin_task_index', {'done': false}) }}" class="btn btn-outline-info w-100 h-100">
                    <div class="text-center">
                        <span class="fa fa-list fa-2x"></span>
                    </div>
                    <div class="text-center text-uppercase">Consulter les tâches a faire</div>
                </a>
            </div>
        {% endif %}
        {% if app.request.query.get('done') is null or app.request.query.get('done') == 0 %}
            <div class="col-12 col-sm-6 col-md-4 py-3">
                <a href="{{ path('admin_task_index', {'done': true}) }}" class="btn btn-outline-secondary w-100 h-100">
                    <div class="text-center">
                        <span class="fa fa-check fa-2x"></span>
                    </div>
                    <div class="text-center text-uppercase">Consulter les tâches terminées</div>
                </a>
            </div>
        {% endif %}
        {% if app.request.query.get('done') is not null or app.request.query.get('anonymous') is not null %}
            <div class="col-12 col-sm-6 col-md-4 py-3">
                <a href="{{ path('admin_task_index') }}" class="btn btn-outline-success w-100 h-100">
                    <div class="text-center">
                        <span class="fa fa-tasks fa-2x"></span>
                    </div>
                    <div class="text-center text-uppercase">Voir toutes les tâches</div>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% for task in tasks %}
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                {% include 'task/_miniature.html.twig' with {'displayUsername': true} %}
            </div>
        {% else %}
            <div class="col-12 my-2">
                <div class="d-inline-block alert alert-warning" role="alert">
                    Il n'y a pas encore de tâche enregistrée.
                    <a href="{{ path('task_new') }}" class="btn btn-warning">Créer une tâche</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('ajaxToggleTask') }}
    {{ encore_entry_script_tags('ajaxSubmit') }}
{% endblock %}
